/*
------------------------------------------------------------------------------------------------------------------------------
    RESET
------------------------------------------------------------------------------------------------------------------------------ */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
------------------------------------------------------------------------------------------------------------------------------
    **DEFAULT** DESKTOP LAYOUT
------------------------------------------------------------------------------------------------------------------------------ */

body {
    font-family: 'Open Sans', sans-serif;
    color: #101010;
    background-color: rgba(16,80,124,1);
    color: #101010;
}

a, a:visited {
    color: rgba(211,65,40,1);
}

a:active {
    color: #aaa;
}

a:hover {
    color: rgba(211,65,40,0.65);
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    line-height: 36px;
    margin-bottom: 24px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 1.125em;
    line-height: 27px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

p {
    font-size: 1.125em;
    line-height: 27px;
    margin-bottom: 24px;
}

/* GRID */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
[class*='col-'] { float: left; padding: 24px; }
.col-1-1 { width: 100%; }
.col-1-2 { width: 50%; }
.col-2-3, .col-2-3:before { width: 66.6666666%; }
.col-1-3, .col-1-3:before { width: 33.3333333%; }
.col-1-4 { width: 25%; }
.col-1-8 { width: 12.5%; }
.container { width: 80%; max-width: 1200px; margin: 0 auto; background-color: rgba(255,255,255,1); }
.container:after { content: ""; display: table; clear: both; }
[class*='col-'] img { width: 100%; }

header {
    width: 100%;
    display: block;
    background-color: #fff;
    padding: 36px 0;
    border-bottom: 12px solid rgba(6,55,95,1);
}

.logo a {
    color: rgba(29,116,169,1);
    font-family: 'Merriweather', serif;
    font-size: 36px;
    text-decoration: none;
    margin-left: -24px;
    display: block;
}

/* RESPONSIVE NAV */
nav { display: inline; float: right !important; }
.list {float: right; width: 100%; }
.menu_list { float: right; width: 100%; }
.menu_list li { display: block; float: right; width: 33.33333%; }
.menu_list li a { text-align: right; display: block; width: 100%; padding: 12px 0; text-decoration: none; font-weight: bold; }
.hide { display: none; }
#show, .show { display: none; }

.hero_container {
    display: block;
    width: 100%;
    padding: -24px;
}

.hero {
    width: 100%;
}

.donate-card {
    background-color: rgba(233,222,194, 1);
    padding: 60;
    text-align: center;
}

.button, .submit {
    padding: 12px;
    background-color: rgba(211,65,40, 1);
    border: 3px solid rgba(211,65,40, 1);
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.button:hover, .submit:hover {
    padding: 12px;
    border-color: #fff;
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

/* MAILCHIMP FORM */
.indicates-required {
    font-size: 12px;
    text-align: right;
}
.mc-field-group {
    clear: left;
    width: 100%;
}
.mc-field-group input[type='text'],
.mc-field-group input[type='email'] {
	width: 100%;
}
.mc-field-group input[type='radio'] {
	-webkit-appearance: radio;
	height: auto;
	margin: 5px;
}
#mc_embed_signup_scroll .button {
	margin-top: 24px;
}

/* FORMS */
label {
    margin-bottom: 12px;
}
input, button {
    height: 48px;
    -webkit-appearance: none;
    box-shadow: none !important;
    border-radius: 2px;
    border: 2px solid #aaa;
    font-size: 18px;
    margin-bottom: 24px;
    margin-right: 12px;
}

textarea {
    height: 48px;
    -webkit-appearance: none;
    box-shadow: none !important;
    border-radius: 2px;
    border: 2px solid #aaa;
    font-size: 18px;
    margin-bottom: 24px;
}

.submit:hover {
    cursor: pointer;
}

/* HELPERS */
.no_padding {
    padding: 0 24px 0 0;
}

/*
------------------------------------------------------------------------------------------------------------------------------
    **DEFAULT** MOBILE LAYOUT
------------------------------------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 768px) and (min-width: 300px) {
    .container, header {
        width: 100%;
    }
    .col-1-2 { width: 100%; }
    .col-1-4 { width: 100%; }
    .col-2-3 { width: 100%; }
    .col-1-3 { width: 100%; }
    header {
        padding: 0;
    }

    .logo {
        display: none;
    }

    .menu_list li a { text-align: center; }
    .button {
        width: 80%;
    }
	#mc_embed_signup_scroll .button {
		width: 100%;
	}
}
